*.suo
*.filters
*.log
*.tlog
*.lastbuildstate
*.pdb
TropicalEngineComponentArchitecture/TropicalEngine/x64/**/*.obj
TropicalEngineComponentArchitecture/Tropicalengine/.vscode/
*.ilk
*.sdf
!*.lib
!*.exe
!*.dll
!TropicalEngineComponentArchitecture/TropicalEngine/Assets/**/*.obj
*.psd
